.nahkampfwaffen {
	width: 184mm;
	height: auto;
	font-size: 10pt;
	font-weight: 600;
	text-align: center;
}

.nahkampfwaffen .row {
	width: 184mm;
	height: 7mm;
	border-bottom: 3px solid #aa8866;
}

.nahkampfwaffen .row-last {
	width: 184mm;
	height: 7mm;
}

.nahkampfwaffen .header {
	width: 184mm;
	height: 7mm;
	border-bottom: 3px solid #aa8866;
}

.nahkampfwaffen .header .col-1, 
.nahkampfwaffen .row .col-1 {
	width: 63mm;
	height: 5mm;
	padding-top: 2mm;
	padding-left: 2mm;
	float: left;
	text-align: left;
}

.nahkampfwaffen .header .col-2,
.nahkampfwaffen .row .col-2 {
	display: inline-block;
	width: 25mm;
	height: 5mm;
	padding-top: 2mm;
	padding-left: 2mm;
	text-align: left;
}

.nahkampfwaffen .header .col-3,
.nahkampfwaffen .row .col-3 {
	display: inline-block;
	width: 7mm;
	height: 5mm;
	padding-top: 2mm;
	padding-left: 2mm;
	text-align: left;
}

.nahkampfwaffen .header .col-4,
.nahkampfwaffen .row .col-4 {
	display: inline-block;
	width: 20mm;
	height: 5mm;
	padding-top: 2mm;
	padding-left: 2mm;
	text-align: left;
}

.nahkampfwaffen .header .col-5,
.nahkampfwaffen .row .col-5 {
	display: inline-block;
	width: 7mm;
	height: 5mm;
	padding-top: 2mm;
	padding-left: 2mm;
	text-align: left;
}

.nahkampfwaffen .header .col-6,
.nahkampfwaffen .row .col-6 {
	display: inline-block;
	width: 7mm;
	height: 5mm;
	padding-top: 2mm;
	padding-left: 2mm;
	text-align: left;
}

.nahkampfwaffen .header .col-7,
.nahkampfwaffen .row .col-7 {
	display: inline-block;
	width: 36mm;
	height: 5mm;
	padding-top: 2mm;
	padding-left: 2mm;
	text-align: left;
}