.margin-right {
	margin-right: 0mm;
}

.left {
	float: left;
	width: 50mm;
}

.right {
	float: right;
	width: 50mm;
}

.herbarium {
	margin-top: 3mm;
	height: auto;
}

.herbarium {
	margin-top: 3mm;
	height: auto;
	width: 184mm !important;
}

.herbarium .inner-header {
	font-weight: 700;
	padding-top: 2mm;
	height: 5mm !important;
	font-size: 10pt;
	text-align: left;
}

.herbarium .row .col-1 {
	width: 53mm;
	padding-left: 2mm;
	display: inline-block;
	float: left;
}

.herbarium .row .col-2 {
	width: 22mm;
	padding-left: 2mm;
	display: inline-block;
}

.herbarium .row .col-3 {
	width: 22mm;
	padding-left: 2mm;
	display: inline-block;
}

.herbarium .row .col-4 {
	width: 22mm;
	padding-left: 2mm;
	display: inline-block;
}

.herbarium .row .col-5 {
	width: 20mm;
	padding-left: 2mm;
	display: inline-block;
}

.herbarium .row .col-6 {
	width: 5mm;
	padding-left: 2mm;
	display: inline-block;
}

.herbarium .row .col-7 {
	width: 5mm;
	padding-left: 2mm;
	display: inline-block;
}

.herbarium .row .col-8 {
	width: 12mm;
	padding-left: 2mm;
	display: inline-block;
}

.tränke .col-6 {
	width: 18mm !important;
	padding-left: 2mm;
	display: inline-block;
}

.tränke .col-7 {
	width: 5mm;
	padding-left: 0mm;
	display: inline-block;
}
