.skills {
	width: 184mm;
	height: auto;
	font-size: 10pt;
	font-weight: 600;
	text-align: left;
	margin-top: 3mm;
}

.skills .row {
	width: 184mm;
	height: 7mm;
	border-bottom: 3px solid #aa8866;
}

.skills .row-last {
	width: 184mm;
	height: 7mm;
}

.skills .header {
	width: 184mm;
	height: 7mm;
	border-bottom: 3px solid #aa8866;
}

.skills .header .col-1, 
.skills .row .col-1,
.skills .row-last .col-1 {
	display: inline-block;
	width: 55mm;
	padding-left: 2mm;
	height: 5mm;
	padding-top: 2mm;
	float: left;
}

.skills .header .col-2, 
.skills .row .col-2,
.skills .row-last .col-2 {
	display: inline-block;
	width: 7mm;
	height: 5mm;
	padding-top: 2mm;
}
.skills .header .col-3, 
.skills .row .col-3,
.skills .row-last .col-3 {
	display: inline-block;
	width: 28mm;
	height: 5mm;
	padding-top: 2mm;
}
.skills .header .col-4, 
.skills .row .col-4,
.skills .row-last .col-4 {
	display: inline-block;
	width: 60mm;
	height: 5mm;
	padding-top: 2mm;
} 
.skills .header .col-5, 
.skills .row .col-5,
.skills .row-last .col-5 {
	display: inline-block;
	width: 15mm;
	height: 5mm;
	padding-top: 2mm;
}
.skills .header .col-6, 
.skills .row .col-6,
.skills .row-last .col-6 {
	display: inline-block;
	width: 10mm;
	height: 5mm;
	padding-top: 2mm;
}